<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BFP Splash Page</title>
  <link rel="stylesheet" href="../static/index.css" />
  <script>
    setTimeout(() => {
      window.location.href = "register.html";
    }, 2000);
  </script>
</head>
<body>
  <div class="mobile-frame">
    <div class="splash-container">
      <div class="overlay"></div>
    <div class="content">
        <img src="../static/images/logo.png" alt="BFP Logo" class="logo" />
        <div class="title">
            <h1>Bureau of Fire Protection</h1>
            <h2>Oroquieta City</h2>
        </div>
    </div>
    </div>
  </div>
</body>
</html>
